Read json file using pandas

In [2]:
import pandas as pd

In [4]:
df_from_json = pd.read_json("example-1.json")

df_from_json

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

Output data from dataframe to json format

In [6]:
json_string = df_from_json.to_json()

json_string

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'

Read csv file using pandas

In [14]:
df_csv = pd.read_csv("example-1.csv")

df_csv

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

Output data from dataframe to json format

In [15]:
# with index
csv_string = df_csv.to_csv()

print(csv_string)

# without index
csv_string = df_csv.to_csv(index=None)

print(csv_string)

,Branch,Date,Amount
0,Branch A,January 1,500.0
1,Branch B,January 2,250.0
2,Branch A,January 3,300.0

Branch,Date,Amount
Branch A,January 1,500.0
Branch B,January 2,250.0
Branch A,January 3,300.0