In [1]:
import pandas as pd

C:\Users\Pepo\AppData\Local\Temp\ipykernel_16656\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
new_data = {
    "Date": ["January 1", "January 2"],
    "Amount":  [500.00, 600.00],
}

df_sales = pd.DataFrame(new_data)

df_sales

        Date  Amount
0  January 1   500.0
1  January 2   600.0

In [6]:
new_data = {
    "Date": ["January 3", "January 4"],
    "Amount":  [700.00, 800.00],
}

df_new_data = pd.DataFrame(new_data)

df_new_data

        Date  Amount
0  January 3   700.0
1  January 4   800.0

In [7]:
df_sales = pd.concat([df_sales, df_new_data])

df_sales

        Date  Amount
0  January 1   500.0
1  January 2   600.0
0  January 3   700.0
1  January 4   800.0

In [8]:
df_sales.reset_index(drop=True, inplace=True)

df_sales

        Date  Amount
0  January 1   500.0
1  January 2   600.0
2  January 3   700.0
3  January 4   800.0

In [10]:
new_column_data = {
    "Locatios": ["Store A", "Store B"]
}

df_new_column = pd.DataFrame(new_column_data)

df_new = pd.concat([df_sales, df_new_column], axis=1)

df_new

        Date  Amount Locatios
0  January 1   500.0  Store A
1  January 2   600.0  Store B
2  January 3   700.0      NaN
3  January 4   800.0      NaN